@media screen and (max-width: 750px) {
    html {
        overflow: hidden;
    }
    body {
        margin: 0 5%;
        overflow: hidden;
    }

    .cart {
        grid-template-columns: 1fr;
        max-width: 294px;
        border-radius: 10px;
    }

    #drawers {
        border-radius: 10px 10px 0 0;
        object-position: left;
    }

    .text-content {
        border-radius: 0 0 10px 10px;
    }

    .main-heading {
        font-size: 0.9rem;
        line-height: 1.3;
    }

    .main-paragraph {
        padding-bottom: 1rem;
    }

    .text-content-footer {
        position: relative;
    }

     .share {
        position: static;
        z-index: 1;
     }

     .share-option {
        inset: -24px -45px;
        border-radius: 0;
        padding: 17px 30px;
        z-index: -1;
        justify-content: left;
        gap: 10px;
     }
     .share-option::after {
        display: none;
     }
}